* {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #80ff72 74%);
  font-family: 'Roboto', sans-serif;

}

#title {
  margin-bottom: 1em;
}

.container {
  margin-top: 5%;

}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
  margin-right: 2em;
  background-color: white;
  padding: 0.7em;
}

.todo-item:hover {
  background: #7d34eb;
  color: white;
}

.todo {
  margin-right: 4.5em;
}




i {
  margin-right: 1em;
  color: whitesmoke;
}

i:hover {
  cursor: pointer;
}

.fa-plus {
  color: steelblue;
  font-size: 1.5em;
}

.fa-trash,
.fa-pencil {
  background: tomato;
  padding: .5em;
}

#edit {
  margin-right: 0;
}

.fa-trash {
  margin-left: .5em;
}

.fa-pencil {
  background: #2e8b57;
}